body {
    margin: 0;
    padding: 0;
}

.project-page {
}

.project-section {
}

.project-glamourshot {
    margin-top: -70px;
    padding-top: 60px;
    height: 695px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(-90deg, #c0d9dd 70%, #f2f2f2 70%);
}

.project-glamourshot h1 {
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  line-height: 84px;
  width: 400px;
  letter-spacing: 1.3px;  /* or 108% */
  color: #08202A;
  padding: 185px 0 0 90px;
  margin-bottom: 20px;
}

.project-glamourshot div.project-subtitle {
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.333333px; /* identical to box height, or 100% */
  color: #08202A;
  padding-left: 90px;
}

.project-glamourshot div.project-subtitle strong {
    color: #3270df;
}

.project-glamourshot img {
    display: block;
    margin-top: 95px;
}

.project-feat {
    background: #fae8d1;
    height: 546px;
    padding-top: 90px;
}

.project-feat img {
    display: block;
    margin: 0 auto;
}

.project-details {
    background: linear-gradient(90deg, #c0d9dd 50%, #f2f2f2 50%);
    display: flex;
    flex-direction: row;
    /* height: 658px; */
    padding-top: 260px;
}
.project-details.no-bg {
    background: white;
}

.project-details > div {
  width: 50%;
  margin: 0 90px;
}

.project-details h1 {
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;

    /* identical to box height, or 114% */
    letter-spacing: 0.583333px;

    color: #08202A;
}

.project-details p {
    font-family: Open Sans;
    font-size: 20px;
    line-height: 36px; /* or 180% */
    color: #414141;
    padding-bottom: 50px;
}

.project-next {
    padding: 90px;
    background-color: #c0d9dd;
}

.project-next a {
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 84px;

    /* identical to box height, or 108% */
    letter-spacing: 1.3px;
    color: #08202A;
    text-decoration: none;
}
